.controlContainer {
  width: 100%;
  background: rgba(0, 0.1, 0, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5em;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
