.helpHeader {
  height: 60px;
  background: darkblue;
  color: yellow;
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
}

.intermediateHeader {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.helpContainer {
  overflow-y: scroll;
  background: #444;
  color: white;
}
