.highscoreHeader {
  height: 60px;
  background: lightgreen;
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 2em;
}

.latestScore {
  font-size: 2.5em;
  justify-content: center;
  display: flex;
  padding: 20px 0;
  color: gold;
  font-weight: 900;
  text-shadow: 3px 3px gray;
}

.currentPlayer {
  color: gold;
  font-weight: bold;
}
