ion-backdrop {
  opacity: 0.4 !important;
}

.app {
  background-image: url("space.jpg");
  /*background: rgb(34, 36, 40);*/
  /*background: linear-gradient(0deg, rgba(34, 36, 40, 1) 0%, rgba(92, 199, 100, 1) 37%);*/
  background-size: cover;
  overflow-y: hidden;
  height: 100%;
}

.upperRow {
  height: 40vh;
}

.lowerRow {
  height: calc(40vh - var(--min-height));
}

.block {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 100%;
  text-align: center;
}

@font-face {
  font-family: "chawp";
  src: local("chawp"), url(../fonts/chawp.ttf) format("truetype");
}

.headerTuples {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  height: 75%;
}

.alignedTuple {
  display: flex;
}

.tupelCaption {
  font-size: 0.8em;
  color: green;
  text-align: center;
}

.mainAreaGeoPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delta {
  font-size: 0.7em;
  display: flex;
}

.bonus {
  color: green;
}

.malus {
  color: red;
}

.comment {
  font-size: 0.7em;
  display: flex;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.controlBar {
  margin-top: -30px;
}

.countdown {
  font-size: 10em;
  font-weight: 900;
  color: red;
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
