.block {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 100px;
  text-align: center;
}

.vertical {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.currentCalculation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 64pt;
  font-weight: 700;
  color: red;
  background-color: black;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.headerTuples {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 350px;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: green;
}

.tupelCaption {
  font-size: 16px;
  color: green;
  text-align: center;
}

.mainAreaGeoPanel {
  display: flex;
  flex-direction: row;
}
