.dot {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

@media all and (max-height: 700px) {
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}

@media all and (max-width: 1000px) {
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}

.activeDot {
  background: radial-gradient(
      circle farthest-corner at 33% 33%,
      rgba(243, 184, 137, 0.85) 0%,
      rgba(30, 30, 40, 0.85) 80%
    ),
    radial-gradient(
      circle farthest-corner at 45% 45%,
      rgba(0, 0, 0, 0) 50%,
      #000000 80%
    );
}

.disabledDot {
  background-color: gray;
}

.outlinedDot {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid gray;
}
